#max-size {
    /* max height - header height */
    height: calc(100vh - 128px);
    width: 100%;
}

#map {
    height: 100%;
    width: 100%;
}

#popup {
    font-weight: 700;
    font-size: 14px;
}

.input-field {
    width: 100%;
}

select.browser-default {
    width: 48%;
    display: inline;
    height: 36px;
}

.select-div {
    width: 56%;
    position: absolute;
    right: 0;
}

.navbar-title {
    margin-left: 14%;
}