#recipe-cards{
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    height: 350px;
    width: 200px;
    margin: 10px;
}

#max-size {
    /* max height - header height */
    height: calc(100vh - 128px);
    width: 100%;
}

#map {
    height: 100%;
    width: 100%;
}

#popup {
    font-weight: 700;
    font-size: 14px;
}

.location-input {
    width: 100%;
}

.search-radius {
    width: 185px;
}

.num-of-results {
    width: 185px;
}

.navbar-title {
    margin-left: 30%;
}

.nav-wrapper .input-field input[type="search"] {
    padding-left: 3rem;
    width: calc(100% - 3rem);
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
    flex: 1 0 auto;
  }
#search {
    color: white;
}

#search:focus {
    color: black;
}
