#recipe-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    height: 350px;
    width: 200px;
    margin: 10px;
}

#max-size {
    /* max height - header height */
    height: calc(100vh - 128px);
    width: 100%;
}

#map {
    height: 100%;
    width: 100%;
}

#map-title-holder{
    display: flex;
    justify-content: center;
    background-color: #ffe082;
}

#map-title {
    display: inline-block;
    text-align: center;
    color: #e51c23;
    font-size: 3em;
}

#map-home-btn{
    position: absolute;
}

#map-search{
    display: inline;
}

#popup {
    font-weight: 700;
    font-size: 14px;
}

.location-input {
    width: 100%;
}

#location-search {
    display: inline;
}

.navbar-title {
    margin-left: 30%;
}

.nav-wrapper .input-field input[type="search"] {
    padding-left: 3rem;
    width: calc(100% - 3rem);
}

#low-nav{
    height: 140px;
    background-color: #ffe082;
}

li{
    width: 33%
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
    flex: 1 0 auto;
  }



.search:focus {
    color: black;
}

#food-photo {
    max-height: 400px;
}

.checkboxes  {
    padding-left: 25px!important;
    padding-right: 20px;
}

.card-content a {
    color: #ffe082;
}

@media screen and (max-width: 625px) {
    #search{
        font-size: .75em;
    }

    #radius-search{
        font-size: .5em;
    }

    #num-search{
        font-size: .6em;
    }

    #map-home-btn{
        display: none;
    }



}